.about-me-container{
    background-color: #6b705c;
    color: white;
    margin: auto 0;
}

.about-me-content{
    /* set hight always in container, through margins */
    /* background-color: #283618; */
    padding-left: 40rem;
    padding-right: 30rem;
    padding-bottom: 5rem;
    padding-top: 5rem;

}
.about-me-text{
    /* margin-top:10rem; */
    /* margin is positioning it wherever */
    /* margin-left: 10rem; */
    /*controls container width */
    width: 800px; 
    padding: 1rem;
    font-size: 1.5rem;
}

.about-me-line {
    width: 700%;
    margin: 0;
    color:white;
    text-align: left;
}

.about-me-title{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
    /* font-weight: 4000; */
}

.about-me-image{
    display: inline-block;
    margin-right:3rem;
    /* line 37 and 38 have to go together for max-width to work */
    width: 400px;
    max-width: 1000px;
}

.get-know-container{
    block-size: 500px;
    color: #6b705c;
    font-size: x-large;
}

.get-know-text{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
}